<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zsbj.dao.UserMapper">
	<resultMap id="UserResultMapper" type="net.zsbj.model.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="password" jdbcType="INTEGER" property="password" />
		<result column="description" jdbcType="VARCHAR" property="description" />
	</resultMap>
	<select id="getUserById" resultMap="UserResultMapper">
		select * from tb_user where id = ${userId}
	</select>
</mapper>
